.banner {
  @include padding-block-section-bigger;
  background-color: $card-bg-color;

  @include on-tablet {
    background-image: url('../images/banner/bg-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    @extend %fm-poppins_w-600_fs-44_lh-120_c-253757;
  }

  &__text {
    @include on-desktop-small {
      max-width: 754px;
      margin-inline: auto;
    }
    @extend %fm-opensans_w-600_fs-22_lh-150_c-6C788BF;
  }

  &__button {
    @extend %button;
    @extend %fm-poppins_w-600_fs-15_lh-100_c-FFFFFF;
  }
}
