.our-expertise {
  background-color: #ffffff;
  border-radius: 30px;
  display: block;
  opacity: 1;
  transform: translateY(0) scale(1);

  &__content {
    row-gap: 56px;
    display: grid;
    padding-block: 72px;

    @include on-tablet {
      padding-block: 128px;
      row-gap: 64px;
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-44_lh-120_c-253757;
    text-align: center;

    @include on-tablet {
      font-size: 52px;
      line-height: 150%;
    }
  }

  &__cards-content {
    row-gap: 56px;
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    display: grid;
    opacity: 1;

    @include on-tablet {
      --columns: 6;
      column-gap: 30px;
      row-gap: 72px;
    }

    @include on-desktop-small {
      --columns: 12;
      column-gap: 40px;
      justify-content: space-between;
    }
  }

  &__card {
    flex-direction: column;
    align-items: center;
    display: flex;
    grid-column: 1 / -1;

    transition: transform 0.3s ease-in-out;

    &.reveal.is-visible:hover,
    &:hover {
      transform: translateY(-10px);
    }

    @include on-desktop-small {
      grid-column: span 4;
    }
  }

  &__card-photo {
    width: 166px;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
  }

  &__card-title {
    @extend %fm-poppins_w-600_fs-20_lh-140_c-253757;
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: center;
  }

  &__card-text {
    @extend %fm-opensans_w-400_fs-14_lh-150_c-6C788B;
    text-align: center;
    margin-inline: auto;
    width: 100%;
    max-width: 280px;

    @include on-tablet {
      max-width: 364px;
    }

    @include on-desktop-small {
      max-width: 380px;
    }
  }
}
